*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: rgb(193, 127, 255);
}
.mainbox{
width: 80%;
height: 60%;
position: relative;
left: 10%;
top: 20%;
background-color: rgb(255, 255, 255);
display: flex;
border-radius: 9px;

}
#purplebox{
    height: 100%;
    width: 60%;
    background-color: rgb(179, 119, 236);
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;

}
header{
    background-color: rgb(255, 255, 255);
    width: 80%;
    height:70%;
    margin-left:70px;
    margin-top: 50px;
}
#box input{
    width:75%;
    height:15%;
    margin: 7px;
    padding-left: 10px;
}
.link{
    margin-left: 40%;
    
}
.link a{
    text-decoration: none;
    color: blueviolet;
}
.link1{
    width: 60%;
    text-align: center;
    background-color: purple;
    margin-top: 10px;
    margin-left: 30px;
    padding: 11px;
    border-radius: 7px;
}
.link1 a{
    color: white;
    text-decoration: none;
}
.link2{
    width: 60%;
    text-align: center;
    background-color: white;
    margin-top: 10px;
    margin-left: 30px;
    padding: 11px;
    border-radius: 7px;
}
.link2 a{
    color: purple;
    text-decoration: none;
}
#hello{
    margin-left: 20px;
    margin-top: 10px;
}
#gm{
    margin-left: 20px;
}
#login{
    position: absolute;
    left: 70%;
    top:60px;
}
#l1{
    position: absolute;
    top: 65%;
    left: 12%;
}
#l2{
    position: absolute;
    top: 80%;
    left: 5%;
}